#!/usr/bin/env bash
set -euo pipefail

if ! command -v eget &> /dev/null; then
    echo "installing eget"
    mkdir -p "$HOME/.local/bin"
    (cd /tmp && curl -fsSL https://zyedidia.github.io/eget.sh | sh && mv eget "$HOME/.local/bin/eget")
fi
export PATH="$HOME/.local/bin:$PATH"

repos=(
    junegunn/fzf
    sxyazi/yazi
{{- if eq .environment "dev" }}
    casey/just
{{- end }}
)

for repo in "${repos[@]}"; do
    echo "Installing/updating: $repo"
    eget "$repo" --to "$HOME/.local/bin" --upgrade-only
done
